.mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-QRScanner > div > div {
background-image: url(images/camera-scan.png);
background-position: 0 0;
}.mojo-theme-dark .mstrmojo-VIGallery .mstrmojo-VIGalleryList .item.ic-QRScanner > div > div {
background-image: url(images/camera-scan.png);
background-position: 0 0;
}